@model IEnumerable<Diary.Models.ReadyHomework>
@{
    ViewData["Title"] = "ReadyHomeworks";
    Layout = "_LayoutTeacher";
}

<h1>ReadyHomeworks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            @if (!string.IsNullOrWhiteSpace(Model.First().TextToHomework))
            {
                <th>
                    @Html.DisplayNameFor(model => model.TextToHomework)
                </th>
            }
            @if (!string.IsNullOrWhiteSpace(Model.First().PathHomework))
            {
                <th>
                    @Html.DisplayNameFor(model => model.PathHomework)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homework)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            @if (!string.IsNullOrWhiteSpace(item.TextToHomework))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TextToHomework)
                </td>
            }
            @if (!string.IsNullOrWhiteSpace(item.PathHomework))
            {
                <td>
                    <button><a download="@Html.DisplayFor(modelItem => item.PathHomework)">Download</a></button>
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDateTime)
            </td>
            <th>
                @Html.DisplayFor(model => item.Group.Name)
            </th>
            <th>
                @Html.DisplayFor(model => item.Lesson.Name)
            </th>
            <th>
                @Html.DisplayFor(model => item.Homework.ShortDescription)
            </th>
            <th>
                <a asp-area="Teacher" asp-controller="Student" asp-action="Details" asp-route-id="@item.Student.Id">@Html.DisplayFor(model => item.Student.FirstName) @Html.DisplayFor(model => item.Student.LastName)</a>
            </th>
        </tr>
    }
    </tbody>
</table>
