@model IEnumerable<Diary.Models.Homework>
@{
    ViewData["Title"] = "Homeworks";
    Layout = "_LayoutStudent";
}

<h1>Homeworks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.StopDateTime < DateTime.Now)
            {
                <tr class="alert-danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDateTime)
                    </td>
                    <td>
                        <a asp-area="Student" asp-controller="Homework" asp-action="HomeworkDetails" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
            else if (item.StopDateTime.Day == DateTime.Now.Day &&
                     item.StopDateTime.Month == DateTime.Now.Month &&
                     item.StopDateTime.Year == DateTime.Now.Year)
            {
                <tr class="alert-warning">
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDateTime)
                    </td>
                    <td>
                        <a asp-area="Student" asp-controller="Homework" asp-action="HomeworkDetails" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
            else
            {
                <tr class="alert-success">
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LongDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDateTime)
                    </td>
                    <td>
                        <a asp-area="Student" asp-controller="Homework" asp-action="HomeworkDetails" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>